################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

src/VisualStudio/.vs/InvidoCpp/v14/.suo
*.obj
src/VisualStudio/x64/Debug/*.*
src/VisualStudio/x64/Release/*.*
src/VisualStudio/Debug/*.*
src/VisualStudio/x64/*
src/VisualStudio/InvidoCpp.VC.VC.opendb
src/VisualStudio/InvidoCpp.VC.db
src/VisualStudio/x64/Debug/vc140.idb
src/VisualStudio/x64/Debug/vc140.idb
src/VisualStudio/x64/Debug/*.*
src/VisualStudio/x64/Debug/*
deploy/out_for_setup/*.*
deploy/out_for_setup/*
*.idb
*.log
*.tlog
*.pdb
Resources_not_used
